<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="noindex,nofollow">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lora:wght@400;600&family=Raleway:wght@200;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="./font/flaticon.css">
    <link rel="stylesheet" type="text/css" href="./css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="./css/style.css">
    <title>Veritatrust</title>
</head>

<body>
    
    <section class="py-5 form">
        <div><span id="error-address">Veuillez soumettre à nouveau votre avis, il semble qu'il contient des expressions inadéquats</span></div>

        <div class="container">
            <hr>
            <div class="d-flex justify-content-between">
                <p>© 2022 - Tous droits réservés.</p>
                <ul class="list-inline">
                    <li class="list-inline-item"><a href="#">Confidentialités</a></li>
                    <li class="list-inline-item"><a href="#">Mentions légales</a></li>
                </ul>
            </div>
        </div>
    </footer>
    <script src="./js/bootstrap.bundle.min.js"></script>
    
    </section>



 
    <script src="./assets/js/bootstrap.bundle.min.js"></script>
    <script src="./assets/js/custom.js"></script>
</body>

</html>