<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="noindex,nofollow">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="./assets/fonts/font/flaticon_veritatrust.css">
    <link rel="stylesheet" type="text/css" href="./assets/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="./assets/css/style.css">
        <!-- The core Firebase JS SDK is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/6.3.3/firebase-app.js"></script>
    <!-- TODO: Add SDKs for Firebase products that you want to use
    https://firebase.google.com/docs/web/setup#config-web-app -->
    <script src="https://www.gstatic.com/firebasejs/6.3.3/firebase-auth.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js" defer ></script>
   
    <script src="https://js.hcaptcha.com/1/api.js?hl=en" defer></script> 
    
    
    <title>Veritatrust</title>
</head>

<body class="product">
    <nav class="navbar sticky-top navbar-white bg-white navbar-dark navbar-expand-lg shadow-sm">
        <div class="container" id="container-menu">
            <a class="navbar-brand" href="./">
                <img src="./assets/img/logo-veritatrust-c.png" alt="Veritatrust" width="170">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <form class="d-flex w-lg-50 search my-3 my-lg-0" role="search">
                    <input class="form-control" placeholder="Rechercher un produit ou service">
                </form>
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle active align-self-center" aria-current="page" href="./">Explore</a>
                        <ul class="submenu dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#"><i class="flaticon flaticon-user"></i> Domaine name</a></li>
                            <li><a class="dropdown-item" href="#"><i class="flaticon flaticon-user"></i> Another action</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#"><i class="flaticon flaticon-user"></i> Something else here</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link  align-self-center" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Resources
                    </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link align-self-center" href="#">Blog</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link align-self-center" href="#">Create</a>
                    </li>
                    <li class="nav-item"><a class="nav-link align-self-center" type="button" data-bs-toggle="offcanvas" data-bs-target="#account" aria-controls="account"><i class="flaticon flaticon-user"></i></a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="offcanvas offcanvas-end text-bg-primary" data-bs-scroll="true" tabindex="-1" id="account" aria-labelledby="offcanvasWithBothOptionsLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">Your account</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        
       
        <div class="offcanvas-body">
            <!-- if not logued / login form -->
            <p>Enter your login and password</p>
            <form action="" id = "login">
                <div class="mb-3">
                    <input type="email" class="form-control" id="usermail" aria-describedby="emailHelp" title="User Email" placeholder="User Email">
                    <div id="emailHelp" class="form-text text-white">We'll never share your email with anyone else.</div>
                </div>
                <div class="mb-3">
                    <input type="password" class="form-control" id="userpassword" title="Password" placeholder="Password">
                </div>
                <div class="mb-3 form-check">
                    <input type="checkbox" class="form-check-input" id="rememberme" checked>
                    <label class="form-check-label" for="rememberme">Stay connected</label>
                </div>
                
            </form>
            <button type="submit" class="btn btn-success" onclick = "emailPasswordLogin()" id="userbutton">Login</button>
            <hr>
            <p class="mt-3 mb-1">You haven't again an account ?</p>
            <button type="submit" class="btn btn-light" onclick="emailPasswordSignin()">Create my account</button>
            <!-- end if not logued / login form -->
           
            
        </div>
    </div>
    <section class="py-5 form">
        <div class="container">
             <%  if(Emailconfirmation=="") {
               %>
             
             <% } else { %>
             <div class="row d-flex align-items-center">
                 <div class="col-11 col-lg-6 pt-3 mx-auto text-center">
                     <div class="callout callout-primary d-flex" id ="confirm-email-message">
                                            <div class="me-3"><i class="flaticon-information"></i></div>
                                            <div>Congratulations! your email have been verified.</div>
                     </div>
                 </div>
            </div>
                     
            <% } %>
                      
              
              
            <div class="row d-flex align-items-center">
                <div class="col-11 col-lg-8 pt-3 mx-auto text-center">
                    <h3>Connect to your VeritaTrust account!</h3>
                </div>
               
                                <div class="d-none" id="message-confirm">
                                    <div class="me-3"><i class="flaticon-check"></i></div>
                                    <div>Your account is created, Check your email for confirmation</div>
                                </div>
                <div class="col-11 col-lg-8 py-4 px-lg-6 mx-auto">
                    <div class="form__account">
                        <div class="row d-flex flex-column align-items-center">
                            <div class="col-12 col-md-6 d-flex flex-column mx-auto gap-2">
                                <button  class="btn btn-primary" onclick = "facebookSignin()">Sign in with Facebook</button>
                                <button  class="btn btn-primary" onclick = "googleSignin()">Sign in with Google</button>
                                <button  class="btn btn-primary" id="metaloginbtnbody">Sign in with Metamask</button>
                               
                                <a href="#" class="btn btn-primary">Sign in with Apple</a>
                            </div>
                            
                             <div class="col-12 col-md-6 g-0 mx-auto">
                                <div class="orbymail text-center">
                                    <div class="separator">Enter your login and password</div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 mx-auto">
                                <form action="" id = "login">
                                    <div class="mb-3">
                                        <input type="email" class="form-control" id="usermail" aria-describedby="emailHelp" title="User Email" placeholder="User Email">
                                        <div id="emailHelp" class="form-text text-white">We'll never share your email with anyone else.</div>
                                    </div>
                                    <div class="mb-3">
                                        <input type="password" class="form-control" id="userpassword" title="Password" placeholder="Password">
                                    </div>
                                    <div class="mb-3 form-check">
                                        <input type="checkbox" class="form-check-input" id="rememberme" checked>
                                        <label class="form-check-label" for="rememberme">Stay connected</label>
                                    </div>
                                    
                                </form>
                                
                
                               
                                <div class="form__footer">
                                 <!--   <div class="h-captcha" data-sitekey="3b23a8ba-8c70-490f-b499-63b74fd9e7be"></div>
                                    <div id="captcha" style="margin-left:100px;color:black"></div>  -->
        
                                    <div class="d-grid gap-2">
                                        <button type="submit" class="btn-block btn btn-success text-white btn-lg" onclick = "emailPasswordLogin()" id="userbutton">Login</button>
        
                                    </div>
                                         
                                </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    


                </div>
            </div>
        </div>
        <script src="/js/class-veritatrust.js" type="module" defer></script>
        <script src = '/js/authentificator.js'></script>
        <script src="/js/metaconnect2.js"></script>
        

     <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    

    </section>

    <footer class="bg-primary pt-5 pb-2 text-white" id="footer">

    </footer>
    <script src = '/js/footer.js'></script>
  
    <!-- Firebase UI -->
   
    <script src="https://code.jquery.com/jquery-3.6.1.js" integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>     
  
    <!-- Firebase UI -->
    <script src="./assets/js/bootstrap.bundle.min.js"></script>
    <script src="./assets/js/custom.js"></script>
   
   
</body>

</html>