<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="noindex,nofollow">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="./assets/fonts/font/flaticon_veritatrust.css">
    <link rel="stylesheet" type="text/css" href="./assets/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="./assets/css/style.css">
        <!-- The core Firebase JS SDK is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/6.3.3/firebase-app.js"></script>
    <!-- TODO: Add SDKs for Firebase products that you want to use
    https://firebase.google.com/docs/web/setup#config-web-app -->
    <script src="https://www.gstatic.com/firebasejs/6.3.3/firebase-auth.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js" defer ></script>
   
    <script src="https://js.hcaptcha.com/1/api.js?hl=en" defer></script> 
    <title>Veritatrust</title>
</head>

<body class="valid">
    <nav class="navbar sticky-top navbar-white bg-white navbar-dark navbar-expand-lg shadow-sm">
        <div class="container" id="container-menu">
            <a class="navbar-brand" href="./">
                <img src="./assets/img/logo-veritatrust-c.png" alt="Veritatrust" width="170">
            </a>
        </div>
            
    </nav>
    <div class="offcanvas offcanvas-end text-bg-primary" data-bs-scroll="true" tabindex="-1" id="account" aria-labelledby="offcanvasWithBothOptionsLabel">
        
   

            </div>
    <section class="py-5 form">
        <div class="container" id="root">
            <div class="row d-flex align-items-center">
                
                </div>
                <div class="col-11 col-lg-8 py-4 px-lg-4 mx-auto result-ok">
                    <div class="form__header">
                        <div class="row d-flex align-items-center justify-content-center">
                            <div class="col-12 col-md-8 col-xl-9 text-center">
                                <img class="align-self-center mb-4" src="http://dev.veritatrust.com/assets/img/coin.png" alt="Product name">
                                <p class="lead text-green">Congratulations!<br>Your account is created</p>
                                <p class="">Check your email for confirmation</p>
                               
                                <a class="btn btn-primary" href="/categories">Explore reviews</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    
        </div>
    </section>
    <footer class="bg-primary py-2 text-white">
        <div class="container">
            <div class="text-center">
                <p class=" mb-0">All rights reserved</p>
            </div>
        </div>
    </footer>
     <footer class="bg-primary pt-5 pb-2 text-white" id="footer">

    </footer>
    <script src = '/js/footer.js'></script>
  
    <!-- Firebase UI -->
   
    <script src="https://code.jquery.com/jquery-3.6.1.js" integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script> 
     <script src="/js/class-veritatrust.js" type="module" defer></script>
        <script src = '/js/authentificator.js'></script>
        <script src="/js/metaconnect2.js"></script>
  
    <!-- Firebase UI -->
    <script src="./assets/js/bootstrap.bundle.min.js"></script>
    <script src="./assets/js/custom.js"></script>
</body>

</html>