<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="noindex,nofollow">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="./assets/fonts/font/flaticon_veritatrust.css">
    <link rel="stylesheet" type="text/css" href="./assets/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="./assets/css/style.css">
        <!-- The core Firebase JS SDK is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/6.3.3/firebase-app.js"></script>
    <!-- TODO: Add SDKs for Firebase products that you want to use
    https://firebase.google.com/docs/web/setup#config-web-app -->
    <script src="https://www.gstatic.com/firebasejs/6.3.3/firebase-auth.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js" defer ></script>
    <script src="js/metaconnect2.js"></script>
   
    <script src="https://js.hcaptcha.com/1/api.js?hl=en" defer></script> 
    
    <title>Veritatrust</title>
</head>

<body class="product">

    <nav class="navbar sticky-top navbar-white bg-white navbar-dark navbar-expand-lg shadow-sm">
        <div class="container" id="container-menu">
            <a class="navbar-brand" href="./">
                <img src="./assets/img/logo-veritatrust-c.png" alt="Veritatrust" width="170">
            </a>
            <button class="navbar-toggler ms-auto me-2" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
            <a class="avatar-link nav-link align-self-center order-3 order-lg-5 position-relative" type="button" data-bs-toggle="offcanvas" data-bs-target="#account" aria-controls="account">
                <span class="notification position-absolute top-0 start-100 translate-middle p-2 bg-danger rounded-circle">
                    <span class="visually-hidden">New alerts</span>
                </span>
                <img class="user_avatar" src="./assets/img/lorem-portrait.jpg" alt="Avatar" height="30" width="30">
                <i class="flaticon-user-1 d-none"></i>
            </a>
            <div class="collapse navbar-collapse order-4" id="navbarSupportedContent">
                <form class="d-flex w-lg-50 search my-3 my-lg-0" role="search">
                    <input class="form-control" placeholder="Rechercher un produit ou service">
                </form>
                <ul class="navbar-nav mb-2 mb-lg-0 ms-auto me-2">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle active align-self-center" aria-current="page" href="./">Explore</a>
                        <ul class="submenu dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#"><i class="flaticon-user-1"></i> Domaine name</a></li>
                            <li><a class="dropdown-item" href="#"><i class="flaticon-user-1"></i> Another action</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#"><i class="flaticon-user-1"></i> Something else here</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link  align-self-center" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Resources
                    </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link align-self-center" href="#">Blog</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link align-self-center" href="#">Create</a>
                    </li>
                </ul>
            </div>

        </div>
    </nav>
         <div class="offcanvas offcanvas-end text-bg-primary" data-bs-scroll="true" tabindex="-1" id="account" aria-labelledby="offcanvasWithBothOptionsLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">Your account</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
           
            
            
            <!-- if logued / user menu -->
            <p class="lead">Hello <%=name%></p>
            <ul class="list-unstyled list-profile">
                <li><a href="https://dev.veritatrust.com/profile">Dashboard</a></li>
                <li><a href="#">Profile</a></li>
                <li><a href="#">Settings</a></li>
                <li><a href="#">Reviews</a></li>
                <li><a href="#">Following</a></li>
                <li><a href="#">Sponsoring</a></li>
                <li><a href="#">Badges</a></li>
                <li><a href="#">Support</a></li>
                <li><a href="#">FAQ</a></li>
            </ul>
            <!-- end if logued / user menu -->
            <button class="btn btn-success text-white" onclick="googleSignout()">Logout</button>
        </div>
    </div>
    <section class="py-5 form">
        <div class="container">
            <div class="row d-flex align-items-center">
                <div class="col-11 col-lg-8 pt-3 mx-auto text-center">
                    <h3>Register: last step to get your reward</h3>
                </div>
                <div class="col-11 col-lg-8 py-4 px-lg-6 mx-auto">
                    <div class="form__account">
                        <div class="row d-flex flex-column align-items-center">
                            <div class="col-12 col-md-6 g-0 mx-auto">
                                <div class="orbymail text-center">
                                    <div class="separator">Complete your profile</div>
                                </div>
                            </div>
                            <form action="" id="signup">
                               
                                
                            </form>
                            <div class="col-12 col-md-6 mx-auto">
                                <!-- à masquer par defaut avec un 'd-none' ou en js  callout callout-error d-flex  callout callout-primary d-flex -->
        
                                <div class="d-none" id="message-confirm">
                                    <div class="me-3"><i class="flaticon-check"></i></div>
                                    <div>message</div>
                                </div>
                               
                                <div class="form__footer">
                                    <div class="d-grid gap-2">
                                        <button type="button" class="btn-block btn btn-success text-white btn-lg" onclick="emailUpdate()">Update account</button>
                                    </div>
                                    
                                    
                                    <script src="/js/class-veritatrust.js" type="module" defer></script>
                                    <script src = '/js/authentificator.js'></script>

                                 <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
                                 <script src="/js/class-user-account.js" type="module" defer></script>
                                 
                                 <script>
                                                                      
                                        function emailUpdate() {
                                            
                                                  var email = document.getElementById("email").value;
                                                  var nickname = document.getElementById("nickname").value;
                                                  var firstname = document.getElementById("firstname").value;
                                                  var lastname = document.getElementById("lastname").value;
                                        
                                                 /*  const userAuth = firebase.auth().createUserWithEmailAndPassword(email, password).then(userData => {
                                            
                                                    userData.user.sendEmailVerification();
                                                    console.log("userData");
                                                    console.log(userData);   */
                                                     
                                                    axios.post("https://dev.veritatrust.com/sessioneupdate", {
                                
                                                          firstname: firstname,
                                                          lastname: lastname,
                                                          email: email,
                                                          idWallet: window.localStorage.getItem('userWalletAddress'),
                                                          nickname: nickname
                            
                                
                                                       })
                                                       .then(res => {
                                                           console.log("account updated")
                                                           var error = document.getElementById("message-confirm");
                                                            error.className = "callout callout-primary d-flex";
                                                            error.innerHTML = "account has updated";
                                                           
                                                           
                                                       });  
                                                       
                                                        
                                                 /*  }).
                                                   catch(function(error) {
                                                       console.log(error.message);
                                                       if(error.message === "The email address is already in use by another account.")
                                                       {
                                                         axios.post("https://dev.veritatrust.com/sessioneupdate", {
                                
                                                                  firstname: firstname,
                                                                  lastname: lastname,
                                                                  email: email,
                                                                  idWallet: window.localStorage.getItem('userWalletAddress'),
                                                                  nickname: nickname
                                    
                                        
                                                               })
                                                               .then(res => {
                                                                   console.log("account updated")
                                                                   var error = document.getElementById("message-confirm");
                                                                    error.className = "callout callout-primary d-flex";
                                                                    error.innerHTML = "account has updated";
                                                                   
                                                                   
                                                               }); 
                                                       }
                                                   });   */
                                                 
                                        }
                                        
                                 </script>
                                 
                                         
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    <hr>


                </div>
            </div>
        </div>
            

    
          

    </section>

    <footer class="bg-primary py-2 text-white">
        <div class="container">
            <div class="text-center">
                <p class=" mb-0">© 2022 - All rights reserved.</p>
            </div>
        </div>
    </footer>
  
    <!-- Firebase UI -->
    <script src="https://code.jquery.com/jquery-3.6.1.js" integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>    
    <script src="./assets/js/bootstrap.bundle.min.js"></script>
    <script src="./assets/js/custom.js"></script>
     <script src="/js/metaconnect2.js"></script>
   
   
</body>

</html>