
<!DOCTYPE html>
<html lang="fr">

<head>
   <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="noindex,nofollow">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="./assets/fonts/font/flaticon_veritatrust.css">
    <link rel="stylesheet" type="text/css" href="./assets/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="./assets/css/style.css">
        <!-- The core Firebase JS SDK is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/6.3.3/firebase-app.js"></script>
    <!-- TODO: Add SDKs for Firebase products that you want to use
    https://firebase.google.com/docs/web/setup#config-web-app -->
    <script src="https://www.gstatic.com/firebasejs/6.3.3/firebase-auth.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js" defer ></script>
    <script src="js/metaconnect2.js"></script>
   
    <script src="https://js.hcaptcha.com/1/api.js?hl=en" defer></script> 
    <title>Veritatrust</title>
</head>

<body>
    <nav class="navbar sticky-top navbar-white bg-white navbar-dark navbar-expand-lg shadow-sm">
        <div class="container" id="container-menu">
            <a class="navbar-brand" href="./">
                <img src="./assets/img/logo-veritatrust-c.png" alt="Veritatrust" width="170">
            </a>
            <button class="navbar-toggler ms-auto me-2" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
            <a class="avatar-link nav-link align-self-center order-3 order-lg-5 position-relative" type="button" data-bs-toggle="offcanvas" data-bs-target="#account" aria-controls="account">
                <span class="notification position-absolute translate-middle p-2 bg-danger rounded-circle">
                    <span class="visually-hidden">New alerts</span>
                </span>
                <img class="user_avatar" src="./assets/img/level0.jpg" alt="Avatar" height="30" width="30">
                <i class="flaticon-user-1 d-none"></i>
            </a>
            <div class="collapse navbar-collapse order-4" id="navbarSupportedContent">
                <form class="d-flex w-lg-50 search my-3 my-lg-0" role="search">
                    <input class="form-control" placeholder="Rechercher un produit ou service" data-bs-toggle="modal" data-bs-target="#SearchModal">
                </form>
                <ul class="navbar-nav mb-2 mb-lg-0 ms-auto me-2">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle active align-self-center" aria-current="page" href="./">Explore</a>
                        <ul class="submenu dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#"><i class="flaticon-user-1"></i> Domaine name</a></li>
                            <li><a class="dropdown-item" href="#"><i class="flaticon-user-1"></i> Another action</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#"><i class="flaticon-user-1"></i> Something else here</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link  align-self-center" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Resources
                    </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link align-self-center" href="#">Blog</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link align-self-center" href="#">Create</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="offcanvas offcanvas-end text-bg-primary" data-bs-scroll="true" tabindex="-1" id="account" aria-labelledby="Titlecanvas">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="Titlecanvas">Your account</h5>
            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <!-- if not logued / login form -->
            <p>Connect by social account</p>
            <ul class="social-Connect">
                <li><button title="Connect with Facebook"><i class="flaticon-facebook"></i></button></li>
                <li><button title="Connect with Google"><i class="flaticon-google"></i></button></li>
                <li><button title="Connect with MetaMask"><i class="flaticon-fox"></i></button></li>
                <li><button title="Connect with Apple"><i class="flaticon-apple"></i></button></li>
            </ul>
            <div class="orbymail text-center">
                <div class="separator">Or</div>
            </div>
            <p>Enter your login and password</p>
            <form>
                <div class="input-group">
                    <input type="email" class="form-control" id="usermail" aria-describedby="emailHelp" title="User Email" placeholder="User Email">
                    <span class="input-group-text bg-success text-white border-success">
                        <i class="flaticon-user"></i>
                    </span>
                </div>
                <div id="emailHelp" class="form-text text-white mb-3">We'll never share your email with anyone else.</div>
                <div class="input-group mb-3 ">
                    <input type="password" class="form-control" id="password" title="Password" placeholder="Password">
                    <span class="input-group-text bg-success toggle-password text-white border-success">
                        <i class="flaticon-hide"></i>
                    </span>
                </div>
                <div class="mb-3 form-check">
                    <input type="checkbox" class="form-check-input" id="rememberme" checked>
                    <label class="form-check-label" for="rememberme">Stay connected</label>
                </div>
                <button type="submit" class="btn btn-success text-white">Login</button>
            </form>
            <hr>
            <p class="mt-3 mb-1">You haven't again an account ?</p>
            <a href="#" class="btn btn-light">Create my account</a>
            <!-- end if not logued / login form -->
            <br>/* Lire les commentaires */
            <!-- if logued / user menu -->
            <p class="lead">Hello Firstname Lastname</p>
            <div class="notifications">
                <div class="notification">
                    <span class="position-absolute top-0 start-0 translate-middle p-2 bg-danger border border-light rounded-circle">
                        <span class="visually-hidden">New alerts</span>
                    </span>
                    <div class="d-flex justify-content-between">
                        <p><a href="#"><strong>Notification title</strong></a></p>
                        <button type="button" class="btn-close" aria-label="Close"></button></div>
                    <p>You must complete your profile</p>
                </div>
            </div>
            <div class="badge bg-white level level0 mb-3">
                <span class="icone"><i class="flaticon-logo-level"></i> <strong>Newbie</strong></span>
            </div>
            <ul class="list-unstyled list-profile">
                <li><a href="./user-log_dashboard.html">Dashboard</a></li>
                <li><a class="active" href="./user-log_profile.html">Profile</a></li>
                <li><a href="./user-log_rewards.html">Rewards</a></li>
                <li><a href="./user-log_reviews.html">Reviews</a></li>
                <li><a href="./user-log_community.html">Community</a></li>
                <li><a href="./user-log_badges.html">Badges</a></li>
                <li><a href="./user-log_support.html">Support</a></li>
                <li><a href="./user-log_faq.html">FAQ</a></li>
            </ul>
            <!-- end if logued / user menu -->
            <button type="submit" class="btn btn-success text-white">Logout</button>
        </div>
    </div>
    <section class="py-5">
        <div class="container user_profil">
            <div class="row d-flex align-items-center">
                <div class="col-11 pt-3 mx-auto">
                    <h1 class="display-6 text-primary">Profile</h1>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb mb-0 mb-md-3">
                            <li class="breadcrumb-item"><a href="./"><i class="flaticon-home"></i> Home</a></li>
                            <li class="breadcrumb-item"><a href="./user-log_dashboard.html">Dashboard</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Profile</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </section>

    <!-- Modal -->
    <div class="modal fade" id="SearchModal" tabindex="-1" aria-labelledby="SearchModal" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-body">
                    <form class="d-flex w-lg-50 search my-3 my-lg-0" role="search">
                        <input class="form-control" placeholder="Rechercher un produit ou service">
                    </form>
                </div>
                <div class="search_listing_modal">
                    <p class="lead ps-3">Listing</p>
                    <ul class="">
                        <li class="search_item">
                            <img src="https://cdn.productreview.com.au/resize/listing-picture/d59caca3-6871-4f79-bd0a-6e2178a1205f?height=48&v=2&width=48" alt="#" height="48" width="48">
                            <div class="product">
                                <p class="mb-0"> <a href="#">Chevrolet Camaro</a></p>
                                <p class="mb-0"><span class="me-2">note</span><img class="mb-2 mb-md-0 me-2" src="./assets/img/star-5.jpg" alt="notation" width="100" height="40"><span> (reviews number)</span></p>
                            </div>
                        </li>
                        <li class="search_item">
                            <img src="https://cdn.productreview.com.au/resize/listing-picture/d59caca3-6871-4f79-bd0a-6e2178a1205f?height=48&v=2&width=48" alt="#" height="48" width="48">
                            <div class="product">
                                <p class="mb-0"> <a href="#">Chevrolet Camaro</a></p>
                                <p class="mb-0"><span class="me-2">note</span><img class="mb-2 mb-md-0 me-2" src="./assets/img/star-5.jpg" alt="notation" width="100" height="40"><span> (reviews number)</span></p>
                            </div>
                        </li>
                        <li class="search_item">
                            <img src="https://cdn.productreview.com.au/resize/listing-picture/d59caca3-6871-4f79-bd0a-6e2178a1205f?height=48&v=2&width=48" alt="#" height="48" width="48">
                            <div class="product">
                                <p class="mb-0"> <a href="#">Chevrolet Camaro</a></p>
                                <p class="mb-0"><span class="me-2">note</span><img class="mb-2 mb-md-0 me-2" src="./assets/img/star-5.jpg" alt="notation" width="100" height="40"><span> (reviews number)</span></p>
                            </div>
                        </li>
                        <li class="search_item">
                            <img src="https://cdn.productreview.com.au/resize/listing-picture/d59caca3-6871-4f79-bd0a-6e2178a1205f?height=48&v=2&width=48" alt="#" height="48" width="48">
                            <div class="product">
                                <p class="mb-0"> <a href="#">Chevrolet Camaro</a></p>
                                <p class="mb-0"><span class="me-2">note</span><img class="mb-2 mb-md-0 me-2" src="./assets/img/star-5.jpg" alt="notation" width="100" height="40"><span> (reviews number)</span></p>
                            </div>
                        </li>
                        <li class="search_item">
                            <p class="text-muted mb-0">See all results containing “<a href="#">Camaro</a>“</p>
                        </li>
                    </ul>
                    <p></p>
                </div>
            </div>
        </div>
                                 <script src="/js/class-veritatrust.js" type="module" defer></script>
                                 <script src = '/js/authentificator.js'></script>

                                 <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
                                 <script src="/js/class-user-account2.js" type="module" defer></script>
    </div>

    <section class="page_content pb-5 bg-success">
        <div class="container">
            <div class="row">
                <div class="col-12 py-4 mx-auto">
                    <div class="row">
                        <div class="d-none d-lg-block col-md-3">
                            <div class="bg-white p-3 mb-3 rounded-5 shadow widget enterprise aos animated" data-aos="fade-up" data-aos-anchor-placement="center-bottom">
                                <div class="notifications">
                                    <h3 class="lead">Notifications</h3>
                                    <div class="notification bg-primary text-white">
                                        <span class="position-absolute top-0 start-0 translate-middle p-2 bg-danger border border-light rounded-circle">
                                            <span class="visually-hidden">New alerts</span>
                                        </span>
                                        <div class="d-flex justify-content-between">
                                            <p><a href="#" class="text-white"><strong>Notification title</strong></a></p>
                                            <button type="button" class="btn-close btn-close-white" aria-label="Close"></button></div>
                                        <p class="text-muted">You must complete your profile</p>
                                    </div>
                                </div>
                                <nav>
                                    <h3 class="lead">Navigation</h3>
                                    <ul class="list-unstyled user-menu">
                                        <li><a class="" href="./user-log_dashboard.html">Dashboard</a></li>
                                        <li><a class="active" href="./user-log_profile.html">Profile</a></li>
                                        <li><a href="./user-log_rewards.html">Rewards</a></li>
                                        <li><a href="./user-log_reviews.html">Reviews</a></li>
                                        <li><a href="./user-log_community.html">Community</a></li>
                                        <li><a href="./user-log_badges.html">Badges</a></li>
                                        <li><a href="./user-log_support.html">Support</a></li>
                                        <li><a href="./user-log_faq.html">FAQ</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <div class="dashboard col-12 col-lg-9">
                            <div class="personal-data mb-4 bg-white shadow rounded-5 p-4 aos animated" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                                <div class="title">
                                    <p class="lead me-auto">Personal Data</p>
                                    <!-- hide after edit button -->
                                    <button class="btn btn-outline-primary" onclick ="handleEnable()" id="edit-button">Edit</button>
                                    <!-- END hide after edit button -->
                                    <!-- show after edit button -->
                                    <button class="d-none btn btn-success ms-2" onclick = "handleSave()" id="save-button">Save</button>
                                    <button class="d-none btn btn-danger ms-2" onclick="handleDisable()" id="cancel-button">Cancel</button>
                                    <!-- END show after edit button -->
                                </div>
                                <div class="row" id="updateaccount">
                     
                                </div>
                               
                            </div>
                            <div class="personal-data mb-4 bg-white shadow rounded-5 p-4 aos animated" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                                <div class="title">
                                    <p class="lead me-auto">Email & Associated accounts</p>
                                    <!-- hide after edit button -->
                                    <button class="btn btn-outline-primary" onclick="handleEdition()" id="edit-button2">Edit</button>
                                    <!-- END hide after edit button -->
                                    <!-- show after edit button -->
                                    <button class="d-none btn btn-success ms-2" onclick="handleSaveButton()" id="save-button2">Save</button>
                                    <button class="d-none btn btn-danger ms-2" onclick="handleCenceling()" id="cancel-button2">Cancel</button>
                                    <!-- END show after edit button -->
                                </div>
                                <div class="row">
                                    <div class="social-connect col-md-6 mb-4">
                                        <div class="d-flex flex-column mx-auto gap-2">
                                            <!-- If connected, toggle class "btn-outline-primary" : "btn-success" -->
                                            <button class="btn btn-outline-primary" id="facebook-associate"><i class="flaticon-facebook"></i> Connect with Facebook</button>
                                            <button class="btn btn-outline-primary" onclick="googleSignin()" id="google-associate"><i class="flaticon-google"></i>Connect with Google</button>
                                            <button class="btn btn-success"><i class="flaticon-fox" id="metamask-associate"></i>Connected with Metamask</button>
                                            <button class="btn btn-outline-primary" id="apple-associate"><i class="flaticon-apple"></i>Connect with Apple</button>
                                        </div>
                                        <hr class="d-md-none">
                                    </div>
                                    <div class="col-md-6 mb-3">
                                        <!-- hide after edit button -->
                                        <div class="usermail mb-3">
                                            <label for="usermail">Your email</label>
                                            <input id="usermail" class="form-control editable" type="email" value="Michel@delpech.fr" disabled>
                                        </div>
                                        <!-- END hide after edit button -->
                                        <!-- show after edit button -->
                                        <div class="d-none newmail mb-3" id="newmail">
                                            <label for="newmail">New email</label>
                                            <input id="newmail" class="form-control editable" type="email" value="">
                                        </div>
                                        <div class="d-none confirmnewmail mb-3" id="confirmnewmail">
                                            <label for="confirmnewmail">Confirm new email</label>
                                            <input id="confirmnewmail" class="form-control editable" type="email" value="">
                                        </div>
                                        <!-- END show after edit button -->
                                        <!-- show after edit button -->
                                        <hr>
                                        <div class="d-none actualpassword mb-3" id="actualpassword">
                                            <label for="actualpassword">Actual password</label>
                                            <div class="input-group mb-3 ">
                                                <input type="password" class="form-control editable" value="" id="actualpassword">
                                                <span class="input-group-text bg-success toggle-password text-white border-success">
                                                    <i class="flaticon-hide"></i>
                                                </span>
                                            </div>
                                        </div>

                                        <div class="d-none newpassword mb-3" id="newpassword">
                                            <label for="newpassword">New password</label>
                                            <div class="input-group mb-3 ">
                                                <input type="password" class="form-control editable" value="" id="newpassword">
                                                <span class="input-group-text bg-success toggle-password text-white border-success">
                                                    <i class="flaticon-hide"></i>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="d-none confirmnewpassword mb-3" id="confirmnewpassword">
                                            <label for="confirmnewpassword">Confirm new password</label>
                                            <div class="input-group mb-3 ">
                                                <input type="password" class="form-control editable" value="" id="confirmnewpassword">
                                                <span class="input-group-text bg-success toggle-password text-white border-success">
                                                    <i class="flaticon-hide"></i>
                                                </span>
                                            </div>
                                        </div>
                                        <!-- END show after edit button -->
                                    </div>

                                </div>
                            </div>
                            <div class="personal-data mb-4 bg-white shadow rounded-5 p-4 aos animated" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                                <div class="title">
                                    <p class="lead me-auto">Secure your account</p>
                                    <!-- hide after edit button -->
                                    <button class="btn btn-outline-primary">Edit</button>
                                    <!-- END hide after edit button -->
                                    <!-- show after edit button -->
                                    <button class="btn btn-success ms-2">Save</button>
                                    <button class="btn btn-danger ms-2">Cancel</button>
                                    <!-- END show after edit button -->
                                </div>
                                <div class="row">
                                    <div class="col-md-10">
                                        <p> Your account is secured by sms, you cannot disable this feature. If you wish to change your phone number, please contact customer service.</p>
                                    </div>
                                    <div class="col-md-2 d-flex flex-row-reverse">
                                        <!-- If Active, toggle class "text-bg-danger" : "text-bg-success" -->
                                        <p class="h4"><span class="badge rounded-pill text-bg-success text-white">Active</span></p>
                                        <p class="h4"><span class="badge rounded-pill text-bg-danger text-white d-none">Not Active</span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer class="bg-primary pt-5 pb-2 text-white">
        <div class="container">
            <div class="row py-3">
                <div class="col-md-6">
                    <h3>Stay in touch</h3>
                    <p>Join our mailing list to receive updates regarding our new features, tips and advices.</p>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Notre newsletter" aria-label="Notre newsletter" aria-describedby="button-newsletter">
                        <button class="btn btn-outline-success" type="button" id="button-newsletter">Subscribe</button>
                    </div>

                </div>
                <div class="col-md-6">
                    <h3>Follow us</h3>
                    <ul class="list-inline">
                        <li class="list-inline-item">Logo 1</li>
                        <li class="list-inline-item">Logo 2</li>
                        <li class="list-inline-item">Logo 3</li>
                        <li class="list-inline-item">Logo 4</li>
                        <li class="list-inline-item">Logo 5</li>
                        <li class="list-inline-item">Logo 6</li>
                    </ul>
                </div>
            </div>
        </div>
        </div>

        <div class="container">
            <hr>
            <div class="row py-3">
                <div class="col-md-4">
                    <img class="mb-3" src="./assets/img/logo-veritatrust-wg.png" alt="Veritatrust" width="200">
                    <p>VeritaTrust is the only decentralized review system backed by Blockchain, A.I and machine learning, helping businesses to collect verified feedbacks, boost sales and increase loyalty.
                    </p>
                </div>
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-lg-4">
                            <h4>Corporate</h4>
                            <ul class="list-unstyled">
                                <li><a href="#">About</a></li>
                                <li>Blog</li>
                                <li>jobs</li>
                                <li>Contact</li>
                                <li>Press</li>
                            </ul>
                        </div>
                        <div class="col-lg-4">
                            <h4>My Account</h4>
                            <ul class="list-unstyled">
                                <li>Sign up</li>
                                <li>Login</li>
                                <li>FAQ</li>
                            </ul>
                        </div>
                        <div class="col-lg-4">
                            <h4>Enterprises</h4>
                            <ul class="list-unstyled">
                                <li>Sign up Pro</li>
                                <li>Login</li>
                                <li>Our solutions</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <hr>
            <div class="d-flex justify-content-between">
                <p>© 2022 - All right reserved.</p>
                <ul class="list-inline">
                    <li class="list-inline-item"><a href="#">Privacy policy</a></li>
                    <li class="list-inline-item"><a href="#">Legal information</a></li>
                    <li class="list-inline-item"><a href="#">T&Cs</a></li>
                </ul>
            </div>
        </div>
    </footer>
    <a id="button"></a>
     <script src = '/js/associate_account.js'></script>
     <script>
     
    function handleEnable()
    {
        document.getElementById("edit-button").className = "d-none btn btn-outline-primary";
        document.getElementById("save-button").className = "btn btn-success ms-2";
        document.getElementById("cancel-button").className = "btn btn-danger ms-2";
        document.getElementById("username").disabled = false;
        document.getElementById("firstname").disabled = false;
        document.getElementById("lastname").disabled = false;
        document.getElementById("birthday").disabled = false;
        document.getElementById("address").disabled = false;
        document.getElementById("phone").disabled = false;
    }
    
    function handleDisable()
    {
         document.getElementById("edit-button").className = "btn btn-outline-primary";
        document.getElementById("save-button").className = "d-none btn btn-success ms-2";
        document.getElementById("cancel-button").className = "d-none btn btn-danger ms-2";
         document.getElementById("username").disabled = true;
        document.getElementById("firstname").disabled = true;
        document.getElementById("lastname").disabled = true;
        document.getElementById("birthday").disabled = true;
        document.getElementById("address").disabled = true;
        document.getElementById("phone").disabled = true;
    }
    
    function handleEdition()
    {
        document.getElementById("edit-button2").className = "d-none btn btn-outline-primary";
        document.getElementById("save-button2").className = "btn btn-success ms-2";
        document.getElementById("cancel-button2").className = "btn btn-danger ms-2";
        
        document.getElementById("newmail").className = "newmail mb-3";
        document.getElementById("confirmnewmail").className = "confirmnewmail mb-3";
        document.getElementById("actualpassword").className = "actualpassword mb-3";
        document.getElementById("newpassword").className = "newpassword mb-3";
        document.getElementById("confirmnewpassword").className = "confirmnewpassword mb-3";
    }
    
    function handleCenceling()
    {
        document.getElementById("edit-button2").className = "btn btn-outline-primary";
        document.getElementById("save-button2").className = "d-none btn btn-success ms-2";
        document.getElementById("cancel-button2").className = "d-none btn btn-danger ms-2";
        
        document.getElementById("newmail").className = "d-none newmail mb-3";
        document.getElementById("confirmnewmail").className = "d-none confirmnewmail mb-3";
        document.getElementById("actualpassword").className = "d-none actualpassword mb-3";
        document.getElementById("newpassword").className = "d-none newpassword mb-3";
        document.getElementById("confirmnewpassword").className = "d-none confirmnewpassword mb-3";
    }

    function handleSave() {
                    
                         
                          var nickname = document.getElementById("username").value;
                          var firstname = document.getElementById("firstname").value;
                          var lastname = document.getElementById("lastname").value;
                          var birthday = document.getElementById("birthday").value;
                          var address = document.getElementById("address").value;
                          var phone = document.getElementById("phone").value;
                         
                
                         /*  const userAuth = firebase.auth().createUserWithEmailAndPassword(email, password).then(userData => {
                    
                            userData.user.sendEmailVerification();
                            console.log("userData");
                            console.log(userData);   */
                             
                            axios.post("https://dev.veritatrust.com/sessioneupdate", {
        
                                  firstname: firstname,
                                  lastname: lastname,
                                  email: window.localStorage.getItem('emailAdress'),
                                  idWallet: window.localStorage.getItem('userWalletAddress'),
                                  nickname: nickname,
                                  address: address,
                                  phone: phone,
                                  birthday: birthday
    
        
                               })
                               .then(res => {
                                   console.log("account updated")
                                   var error = document.getElementById("message-confirm");
                                    error.className = "callout callout-primary d-flex";
                                    error.innerHTML = "account has updated";
                                   
                                   
                               });  
                               
                                
                         /*  }).
                           catch(function(error) {
                               console.log(error.message);
                               if(error.message === "The email address is already in use by another account.")
                               {
                                 axios.post("https://dev.veritatrust.com/sessioneupdate", {
        
                                          firstname: firstname,
                                          lastname: lastname,
                                          email: email,
                                          idWallet: window.localStorage.getItem('userWalletAddress'),
                                          nickname: nickname
            
                
                                       })
                                       .then(res => {
                                           console.log("account updated")
                                           var error = document.getElementById("message-confirm");
                                            error.className = "callout callout-primary d-flex";
                                            error.innerHTML = "account has updated";
                                           
                                           
                                       }); 
                               }
                           });   */
                         
                }
                

    </script>
    
    <script src="https://code.jquery.com/jquery-3.6.1.js" integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    
    <script src="./assets/js/OwlCarousel2/owl.carousel.js"></script>
    <script src="./assets/js/bootstrap.bundle.min.js"></script>
    <script src="./assets/js/custom.js"></script>
</body>

</html>